[submodule "docs/repo/org.example.d4p.word2ditaextension"]
	path = docs/repo/org.example.d4p.word2ditaextension
	url = https://github.com/dita4publishers/org.example.d4p.word2ditaextension.git
	branch = documentation
[submodule "docs/repo/org.dita4publishers.epub"]
	path = docs/repo/org.dita4publishers.epub
	url = https://github.com/dita4publishers/org.dita4publishers.epub.git
[submodule "docs/repo/org.dita4publishers.common.mapdriven"]
	path = docs/repo/org.dita4publishers.common.mapdriven
	url = https://github.com/dita4publishers/org.dita4publishers.common.mapdriven.git
[submodule "docs/repo/org.dita4publishers.html2"]
	path = docs/repo/org.dita4publishers.html2
	url = https://github.com/dita4publishers/org.dita4publishers.html2.git
[submodule "docs/repo/org.dita4publishers.html5"]
	path = docs/repo/org.dita4publishers.html5
	url = https://github.com/dita4publishers/org.dita4publishers.html5.git
[submodule "docs/repo/org.dita4publishers.dita2indesign"]
	path = docs/repo/org.dita4publishers.dita2indesign
	url = https://github.com/dita4publishers/org.dita4publishers.dita2indesign.git
[submodule "docs/repo/org.dita4publishers.word2dita"]
	path = docs/repo/org.dita4publishers.word2dita
	url = https://github.com/dita4publishers/org.dita4publishers.word2dita.git
